In [4]:
import pandas as pd

# Load datasets
path_prefix = "C:\\Users\\gbemi\\Desktop\\Capstone\\"
weather_events = pd.read_csv(path_prefix + "WeatherEvents_Jan2016-Dec2022.csv")
data_2016 = pd.read_csv(path_prefix + "2016.csv")
data_2017 = pd.read_csv(path_prefix + "2017.csv")
data_2018 = pd.read_csv(path_prefix + "2018.csv")

In [6]:
delay_df = pd.concat([data_2016, data_2017, data_2018], ignore_index=True)

In [7]:
delay_df.tail()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
18505720,2018-12-31,AA,1815,DCA,CLT,1534,1530.0,-4.0,20.0,1550.0,...,100.0,99.0,72.0,331.0,NaN,NaN,NaN,NaN,NaN,NaN
18505721,2018-12-31,AA,1816,CLT,DFW,1751,1757.0,6.0,18.0,1815.0,...,181.0,176.0,148.0,936.0,NaN,NaN,NaN,NaN,NaN,NaN
18505722,2018-12-31,AA,1817,CLT,MEM,2015,2010.0,-5.0,36.0,2046.0,...,112.0,128.0,88.0,511.0,NaN,NaN,NaN,NaN,NaN,NaN
18505723,2018-12-31,AA,1818,CLT,RDU,1300,1323.0,23.0,11.0,1334.0,...,50.0,41.0,26.0,130.0,NaN,NaN,NaN,NaN,NaN,NaN
18505724,2018-12-31,AA,1818,RDU,CLT,1435,1443.0,8.0,8.0,1451.0,...,71.0,59.0,44.0,130.0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
weather_delay_counts = delay_df['WEATHER_DELAY'].value_counts()
print(weather_delay_counts)

0.0       3161816
7.0          4447
6.0          4421
1.0          4193
3.0          4181
           ...
895.0           1
1087.0          1
984.0           1
757.0           1
980.0           1
Name: WEATHER_DELAY, Length: 1129, dtype: int64

In [15]:
# Remove rows where WEATHER_DELAY is NaN or 0
delay_df = delay_df[delay_df['WEATHER_DELAY'].notna() & (delay_df['WEATHER_DELAY'] != 0)]

In [24]:
delay_df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
60,2016-01-01,DL,1319,ORD,DTW,856,929.0,33.0,25.0,954.0,...,0.0,81.0,79.0,47.0,235.0,14.0,17.0,0.0,0.0,0.0
218,2016-01-01,DL,1524,SLC,ATL,830,906.0,36.0,23.0,929.0,...,0.0,221.0,203.0,175.0,1590.0,0.0,18.0,0.0,0.0,0.0
571,2016-01-01,DL,1930,DEN,SLC,840,928.0,48.0,22.0,950.0,...,0.0,95.0,83.0,57.0,391.0,0.0,36.0,0.0,0.0,0.0
1031,2016-01-01,AS,699,GEG,SEA,600,628.0,28.0,22.0,650.0,...,0.0,70.0,65.0,40.0,224.0,0.0,23.0,0.0,0.0,0.0
2132,2016-01-01,EV,5981,DTW,EWR,1532,1546.0,14.0,37.0,1623.0,...,0.0,107.0,117.0,68.0,488.0,0.0,14.0,10.0,0.0,0.0

In [19]:
weather_events.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,2016-01-06 23:14:00,2016-01-07 00:34:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-2,Snow,Light,2016-01-07 04:14:00,2016-01-07 04:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-3,Snow,Light,2016-01-07 05:54:00,2016-01-07 15:34:00,0.03,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-4,Snow,Light,2016-01-08 05:34:00,2016-01-08 05:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-5,Snow,Light,2016-01-08 13:54:00,2016-01-08 15:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

In [22]:
# Find columns with 'Unnamed' in their name
unnamed_cols = delay_df.filter(like='Unnamed').columns

# Drop those columns
delay_df = delay_df.drop(columns=unnamed_cols)

In [23]:
weather_events.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,2016-01-06 23:14:00,2016-01-07 00:34:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-2,Snow,Light,2016-01-07 04:14:00,2016-01-07 04:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-3,Snow,Light,2016-01-07 05:54:00,2016-01-07 15:34:00,0.03,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-4,Snow,Light,2016-01-08 05:34:00,2016-01-08 05:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-5,Snow,Light,2016-01-08 13:54:00,2016-01-08 15:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0